/*
Earth: #E2BF65l, rgb 226,191,101
Plant: #7AC74C, rgb 122,199,76
Water: #6390F0, rgb 99,144,240
Mystic #735797, rgb 115,87,151
Fire #EE8130, rgb 238,129,48
Wind #96D9D6, rgb 150,217,214
Lightning #F7D02C, rgb 247,208,44
Shadow #705746, rgb 112,87,70
*/

.earth {
	background-color: rgba(226,191,101, 0.5);
}

.plant {
	background-color: rgba(122,199,76, 0.5);
}

.water {
	background-color: rgba(100,145,240,0.5);
}

.mystic {
	background-color: rgba(115,87,151, 0.5);
}

.fire {
	background-color: #EE8130;
}

.wind {
	background-color: #96D9D6;
}

.lightning {
	background-color: #F7D02C;
}

.shadow {
	background-color: #705746;
}